/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    font-family: 'Dosis', sans-serif;
}

header, footer {
    background-color: #595757;
    color: white;
    text-align: center;
}

header {
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 5px;
}

    footer img {
        width: 20px;
        height: auto;
    }

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.option-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    .option-set {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

.grid-container {
    display: flex;

    width: 380px;
    height: 380px;
    background-color: rgba(121, 117, 117, 0.185);
    box-shadow: 5px 5px 8px black;
    padding: 20px;
    border-radius: 10px;
}
    .grid-column, .grid-square {
        outline: white 1px solid;
        flex: 1;
    }
    .grid-column {
        display: flex;
        flex-direction: column;

        padding: 1px;
    }
    .grid-square {
        border-radius: 3px;
    }

@media only screen and (max-width: 600px) {
    main {
      flex-direction: column-reverse;
      align-items: center;
      gap: 20px;
      padding: 30px 0px;
    }
  }