* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    gap: 100px;
}

.option-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    .option-set {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

.grid-container {
    display: flex;
    width: 350px;
    height: 350px;
}
    .grid-container div {
        outline: white 1px solid;
        flex: 1;
    }

    .grid-column {
        display: flex;
        flex-direction: column;
    }




/* temp for visualization */
header, footer {
    background-color: rgb(128 128 192 / 61%)
}
.grid-container {
    background-color: rgba(0, 0, 255, 0.445);
}
